# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
.venv

# Ignore logs
*.log
logs

# Ignore IDE/editor files
.vscode/
.idea/

data/faiss_index
data/processed
data/test_docs
data/uploaded_docs